{% extends "layouts/app.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button id="addClass">Open Chat</button>

            {% include "templates/chat.twig" %}
        </div>
    </div>
</div>
{% endblock %}