<div class="popup-box chat-popup popup-box-on" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-left pull-left">{{ auth_user.get.getFullName() }}</div>
        <div class="popup-head-right pull-right">
            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
        </div>
    </div>
    <div class="popup-messages">
        <div class="direct-chat-messages">
            <div class="chat-box-single-line no-conversation">
                <abbr class="timestamp">No conversation yet.</abbr>
            </div>
        </div>
    </div>
    <div class="popup-messages-footer">
        <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
    </div>
</div>