<div class="popup-box chat-popup" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-left pull-left"><img src="/img/me.jpg" alt="iamgurdeeposahan"> Rodrigo Galura III</div>
        <div class="popup-head-right pull-right">
            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
        </div>
    </div>
    <div class="popup-messages">
        <div class="direct-chat-messages">
            <div class="chat-box-single-line">
                <abbr class="timestamp">October 8th, 2015</abbr>
            </div>
            <!-- Message. Default to the left -->
            <div class="direct-chat-msg doted-border">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Rodrigo III</span>
                </div>
                <!-- /.direct-chat-info -->
                <img alt="message user image" src="/img/me.jpg" class="direct-chat-img">
                <!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                    Hey bro, how’s everything going ?
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-img-reply-small pull-left"></span>
                    <span class="direct-chat-reply-name">Galura</span>
                </div>
                <!-- /.direct-chat-text -->
            </div>

            <div class="chat-box-single-line">
                <abbr class="timestamp">October 9th, 2015</abbr>
            </div>
            <div class="direct-chat-msg doted-border">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Programmer</span>
                </div>
                <img alt="iamgurdeeposahan" src="/img/me2.jpg" class="direct-chat-img">
                <div class="direct-chat-text">
                    Hey bro, how’s everything going ?
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-img-reply-small pull-left"></span>
                    <span class="direct-chat-reply-name">Hacker</span>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-messages-footer">
        <textarea id="status_message" placeholder="Type a message..." rows="10" cols="40" name="message"></textarea>
    </div>
</div>